<%= form_for(bundle) do |f| %>
  <% if bundle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bundle.errors.count, "error") %> prohibited this bundle from being saved:</h2>

      <ul>
      <% bundle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bundle_quantity %>
    <%= f.number_field :bundle_quantity %>
  </div>

  <div class="field">
    <%= f.label :bundle_cost %>
    <%= f.text_field :bundle_cost %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
