<p id="notice"><%= notice %></p>

<p>
  <strong>Bundle quantity:</strong>
  <%= @bundle_total.bundle_quantity %>
</p>

<p>
  <strong>Bundle size:</strong>
  <%= @bundle_total.bundle_size %>
</p>

<p>
  <strong>Bundle cost:</strong>
  <%= @bundle_total.bundle_cost %>
</p>

<p>
  <strong>Line item:</strong>
  <%= @bundle_total.line_item %>
</p>

<%= link_to 'Edit', edit_bundle_total_path(@bundle_total) %> |
<%= link_to 'Back', bundle_totals_path %>
