<p id="notice"><%= notice %></p>

<h1>Items for Order #<%= @line_items[0].order_id %></h1>

<table>
  <thead>
  <tr>
    <th style="text-align:left">Product</th>
    <th style="text-align:left">Code</th>
    <th style="text-align:left">Total Qty</th>
    <th style="text-align:left">Total Cost</th>
    <th style="text-align:left">No. of Packs</th>
    <th style="text-align:left">Qty per Pack</th>
    <th style="text-align:left">Cost per Pack</th>
  </tr>
  </thead>
  <tbody>
  <% @line_items.each do |item| %>
      <tr>
        <td style="width:130px"> <%= item.product.name %></td>
        <td style="width:130px"> <%= item.product.code %></td>
        <td style="width:130px"> <%= item.quantity %></td>
        <td style="width:130px"> <%= number_to_currency(item.item_total_cost) %></td>
        <tr></tr>
        <% item.bundle_totals.each do |total| %>
          <td style="width:130px"></td>
          <td style="width:130px"></td>
          <td style="width:130px"></td>
          <td style="width:130px"></td>
          <td style="width:130px"> <%= total.bundle_quantity %> </td>
          <td style="width:130px"> <%= total.bundle_size %> </td>
          <td style="width:130px"> <%= number_to_currency(total.bundle_cost) %> </td>
  <tr></tr>
        <% end %>
  <% end %>
  </tr>
  <tr>
    <td style="width:100px"> <h3>Order Total</h3> </td>
    <td style="width:100px"><h3><%= number_to_currency(@order_total) %></h3></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Add Item', new_order_line_item_path(order_id: @order.id) %>
<br>
<%= link_to 'View all Orders', orders_path %>